bot:
  discord_token: 'YOUR_DISCORD_TOKEN'
  spotify:
    client_id: 'YOUR_SPOTIFY_CLIENT_ID'
    client_secret: 'YOUR_SPOTIFY_CLIENT_SECRET'
  debug:
    enabled: false
    guild_ids:
      - 123456789012345678
      - 123456789012345679
ipc:
  port: 12345
  secret: 'YOUR_IPC_SECRET_KEY'
backend:
  host: backend
  port: 5000
