version: '3.8'
services:
  bot:
    image: jareddantis/rico-bot:latest
    container_name: rico-bot
    volumes:
      - ./config.yml:/opt/app/config.yml
networks:
  default:
    name: rico
    external: true
