* { box-sizing: border-box; }
html {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}
body.success .loading, body.error .loading { display: none; }
body.success .success { display: block; }
body.success .error { display: none; }
body.error .success { display: none; }
body.error .error { display: block; }

.content {
    padding: 8rem 1.5rem;
    width: calc(100vw - 240px);
}
.content .header {
    margin-bottom: 1.5rem;
}
.content .header img {
    width: 100%;
    max-width: 360px;
}
.content p {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
                 "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
.content .error span {
    display: block;
    margin-top: 4rem;
    font-size: 0.875rem;
    color: rgba(0, 0, 0, 0.7);
}
#code {
    background: #e5e5e5;
    max-width: 500px;
    width: 100%;
    padding: 2rem;
    margin-top: 2rem;
    cursor: pointer;
    position: relative;
    overflow-wrap: break-word;
    word-break: break-all;
}
#code .hint {
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(159, 255, 165, 0.7);
    transition: opacity 200ms ease;
}
#code .hint p {
    font-size: 2rem;
    font-weight: 700;
    margin: 0;
}
#code:hover .hint {
    opacity: 1;
}
.content span {
    font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter",
                 "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco,
                 "Courier New", Courier, monospace;
}

.bg-image {
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: -999;
}
.bg-image > img {
    height: 100vh;
}

@media screen and (max-width: 1024px) {
    .bg-image {
        display: none;
    }
    .content {
        padding: 4rem 1.5rem;
        width: calc(100vw - 120px);
    }
}

@media screen and (max-width: 600px) {
    .content {
        width: 100%;
        margin: 1.5rem;
    }
}

@media screen and (max-width: 480px) {
}